<!--Hey! This is the original version
of Simple CSS Waves-->
{% load static %}

<link rel="stylesheet" href="{% static 'styles/css/login_style.css' %}" />
<link rel="shortcut icon" type="image" href="{% static 'images/logo3.png' %}" />
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'styles/css/owl.carousel.min.css' %}" />
<link rel="stylesheet" href="{% static 'styles/css/owl.theme.default.min.css' %}" />
<link rel="stylesheet" href="{% static 'styles/fonts-6/css/all.css' %}" />
<!-- <link rel="stylesheet" href="{% static 'styles/css/styles.css' %}"> -->
<link rel="stylesheet" href="{% static 'styles/css/fonts.css' %}" />
<link rel="stylesheet" href="{% static 'styles/css/swiper-bundle.min.css' %}" />
<div class="header">
    <!--Content before waves-->
    {% block content %}{% endblock %}

    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <!--Waves end-->
</div>
<!--Header ends-->

<!--Content starts-->
<div class="content">
    <p>By Mohammad Iqbal Elham</p>
</div>

<script src="{% static 'styles/js/login.js' %}"></script>
<!--Content ends-->