{% extends 'shared/_mainLayout.html' %}

<!-- ----------------------Login Form -------------------------- -->
{% block content %}
<div class="login-form-container">
  <!-- <div id="close-login-btn" class="fa-solid fa-circle-xmark"></div> -->
  <form method="post">
    <h3>Sign in</h3>
    {% csrf_token %}
    <label for="loginForm.user_name.id_for_label">{{ loginForm.user_name.label }}</label>
    {{loginForm.user_name}}
    {% for error in loginForm.user_name.errors %}
    <p style="color: red; padding: 0.3rem">{{error}}</p>
    {% endfor %}
    <label for="loginForm.password.id_for_label">{{ loginForm.password.label }}</label>
    {{loginForm.password}}
     {% for error in loginForm.password.errors %}
    <p style="color: red">{{error}}</p>
    {% endfor %}
    <div class="checkbox">
      <input type="checkbox" name="" id="remember-me" />
      <label for="remember-me">Remember me</label>
    </div>
    <input type="submit" value="sign in" class="sub-btn" />
    <p>Forgot password ? <a href="#">click here</a></p>
    <p>Don't have account ? <a href="/register">Create Account</a></p>
  </form>
</div>
{% endblock %}