
 <!-- ----------------------Login Form -------------------------- -->
 <div class="login-form-container">
    <div id="close-login-btn" class="fa-solid fa-circle-xmark"></div>
    <form action="">
      <h3>Sign in</h3>
      <span>Username</span>
      <input
        type="email"
        name=""
        id=""
        class="box"
        placeholder="Enter your email"
      />
      <span>Password</span>
      <input
        type="password"
        name=""
        class="box"
        placeholder="Enter your password"
      />
      <div class="checkbox">
        <input type="checkbox" name="" id="remember-me" />
        <label for="remember-me">Remember me</label>
      </div>
      <input type="submit" value="sign in" class="sub-btn" />
      <p>Forgot password ? <a href="#">click here</a></p>
      <p>
        Don't have account ? <a href="/register">Create Account</a>
      </p>
    </form>
  </div>