{% extends './_main_login_wave.html' %} {% block content %}

    <div class="inner-header">
        <div class="login-form-container">
            <a href="/"><i id="close-login-btn" class="fa-solid fa-circle-xmark"></i></a>
            <div id="sign-in-form">
                <form  method="post">
                    <h3>Sign in</h3>
                    {% csrf_token %}
                    <label for="loginForm.user_name.id_for_label">{{ loginForm.user_name.label }}</label>
                    {{loginForm.user_name}} {% for error in loginForm.user_name.errors %}
                    <p style="color:red; background:white; width:50%; text-align: center; font-weight: bold; padding:0.4rem; border-radius: 20px;">{{error}}</p>
                    {% endfor %}
                    <label for="loginForm.password.id_for_label">{{ loginForm.password.label }}</label>
                    {{loginForm.password}} {% for error in loginForm.password.errors %}
                    <p style="color:red; background:white; width:50%; text-align: center; font-weight: bold; padding:0.4rem; border-radius: 20px;">{{error}}</p>
                    {% endfor %}
                    <p class="d-flex justify-content-end text-decoration-none m-0 "><a  href="/password_reset">Forgot password?</a></p>
                    <input type="submit" value="sign in" class="sub-btn" />
                </form>
                <p class="Or">Or</p>
                <a href="/register"> <button class="create-account">Create Account</button></a>
            </div>
                
        </div>
    </div>

{% endblock %}