{% extends '../shared/_mainLayout.html' %} {% block content %}
{% load static %}
<div class="new_account_header">
  <header class="heading"><span> Create New Account</span></header>
</div>
<div class="container px-4">
  <div class="container mt-4 mx-auto" id="container">
    <form class="row" method="post">
      {% csrf_token %}
      <div class="col-md-6" id="leftCtn">
        <div class="mb-4">
          <img
            src="{% static 'images/pic-4.png' %}"
            class="mx-auto d-block"
            id="uploadImage"
            alt="..."
          />
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-9">
            <div class="row mb-3">
              <label for="" class="col-sm-4 col-form-label text-white"
                >Name</label
              >
              <div class="col-sm-8">
                {{ registerForm.user_name }}
                {% for error in registerForm.user_name.errors %}
                <p style="color: rgb(209, 13, 13);margin-top: 5px;">{{error}}</p>
                {% endfor %}
              </div>
            </div>
            <div class="row mb-3">
              <label for="" class="col-sm-4 col-form-label text-white"
                >Email</label
              >
              <div class="col-sm-8">
                {{ registerForm.email }}
                {% for error in registerForm.email.errors %}
                <p style="color: rgb(75, 5, 5); margin-top: 5px;">{{error}}</p>
                {% endfor %}
              </div>
            </div>
            <div class="row mb-3">
              <label for="" class="col-sm-4 col-form-label text-white"
                >Password</label
              >
              <div class="col-sm-8">
                {{ registerForm.password }}
                {% for error in registerForm.password.errors %}
                <p style="color: red; padding: 0.3rem">{{error}}</p>
                {% endfor %}
              </div>
            </div>
            <div class="row mb-3">
              <label for="" class="col-sm-4 col-form-label text-white"
                >Confirm Password</label
              >
              <div class="col-sm-8">
                {{ registerForm.re_password }}
                {% for error in registerForm.re_password.errors %}
                <p style="color: red; padding: 0.3rem">{{error}}</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6" id="rightCtn">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="row mb-3">
              <label for="" class="col-sm-3 col-form-label">Date of Birth</label>
              <div class="col-sm-9">
                {{ registerForm.date_ }}
              </div>
            </div>
            <div class="row mb-3">
              <label for="" class="col-sm-3 col-form-label">City</label>
              <div class="col-sm-9">
                {{ registerForm.city }}
              </div>
            </div>
            <div class="row mb-3">
              <label for="" class="col-sm-3 col-form-label">Address</label>
              <div class="col-sm-9">
                {{ registerForm.address }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-form-label col-sm-3 pt-0">Gender</label>
              <div class="col-sm-9 gender-radios">
                {{ registerForm.gender }}
                <!-- <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="gridRadios"
                    id="gridRadios1"
                    value="option1"
                    checked
                  />
                  <label class="form-check-label" for="gridRadios1">
                    Male
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="gridRadios"
                    id="gridRadios2"
                    value="option2"
                  />
                  <label class="form-check-label" for="gridRadios2">
                    Female
                  </label>
                </div> -->
              </div>
            </div>
            <div class="row mb-3">
              <label for="" class="col-sm-3 col-form-label"
                ><small> Phone Number</small></label
              >
              <div class="col-sm-9">
                {{ registerForm.phone_num }}
              </div>
            </div>
            <div class="row mb-3">
              <label for="" class="col-sm-3 col-form-label"
                ><small> Whatsapp Number</small></label
              >
              <div class="col-sm-9">
                {{ registerForm.whatsapp_num }}
              </div>
            </div>
          </div>
          <div class="row d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-warning text-white" type="submit">
              Sign up
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
