{% load static %}

   <link rel="shortcut icon" type="image" href="{% static 'images/logo3.png' %}">
   <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'styles/css/owl.carousel.min.css' %}">
   <link rel="stylesheet" href="{% static 'styles/css/owl.theme.default.min.css' %}">
   <link rel="stylesheet" href="{% static 'styles/fonts-6/css/all.css' %}">
   <link rel="stylesheet" href="{% static 'styles/css/styles.css' %}">
   <link rel="stylesheet" href="{% static 'styles/css/fonts.css' %}">
   <link rel="stylesheet" href="{% static 'styles/css/swiper-bundle.min.css' %}">