{% load static %} {% load render_partial %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'shared/_headerReferences.html' %}
  </head>
  <!-- data-bs-spy="scroll" data-bs-target=".navbar" -->

  <body>
    {% include './header.html' %}
    <!-- ----------------------Login Form -------------------------- -->
    <div class="login-form-container">
      <div id="close-login-btn" class="fa-solid fa-circle-xmark"></div>
      <form action="">
        <h3>Sign in</h3>
        <span>Username</span>
        <input
          type="email"
          name=""
          id=""
          class="box"
          placeholder="Enter your email"
        />
        <span>Password</span>
        <input
          type="password"
          name=""
          class="box"
          placeholder="Enter your password"
        />
        <div class="checkbox">
          <input type="checkbox" name="" id="remember-me" />
          <label for="remember-me">Remember me</label>
        </div>
        <input type="submit" value="sign in" class="sub-btn" />
        <p>Forgot password ? <a href="#">click here</a></p>
        <p>
          Don't have account ? <a href="create-account.html">Create Account</a>
        </p>
      </form>
    </div>

    <!-- ---------------------------------- content -------------------------------- -->
    {% block content %}{% endblock %}

    <!-- ------------- footer-----------------------  -->
    {% render_partial 'footer' %}


    <!-- ----------------------------------- Loader ----------------------------------- -->
    <div class="loader-container">
      <img src="{% static 'images/loader-img-y.gif' %}" alt="" />
    </div>

    <!-- ================= footer references ====================    -->
    {% include './_footerReferences.html' %}
  </body>
</html>
