{% load static %}


<!-- ----------------------- footer ------------------------------------ -->

<section class="footer">
    <div class="box-contain">
        <!-- <div class="box">
            <h3>Our location</h3>
            <a href=""><i class="fas fa-map-marker-alt"></i>Afghanistan</a>
            <a href=""><i class="fas fa-map-marker-alt"></i>Afghanistan</a>
            <a href=""><i class="fas fa-map-marker-alt"></i>Afghanistan</a>
            <a href=""><i class="fas fa-map-marker-alt"></i>Afghanistan</a>
            <a href=""><i class="fas fa-map-marker-alt"></i>Afghanistan</a>
        </div> -->
        <div class="about-div">
            <h3>About us</h3>
            <p>The Book Bazaar online store is a place to buy and sell second handed books online in various formats. Thousands of e-books and illustrated books
                are available in The Book Bazaar second handed bookstore, among which there are free books.</p>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="/"><i class="fas fa-arrow-right"></i>Home</a>
            <a href="/books"><i class="fas fa-arrow-right"></i>Books</a>
            <a href="/sell-book"><i class="fas fa-arrow-right"></i>Sell Book</a>
            <a href="contact-us"><i class="fas fa-arrow-right"></i>Contact us</a>

        </div>

        <div class="box">
            <h3>Account</h3>
            <a href="/user"><i class="fas fa-arrow-right"></i>Account info</a>
            <a href="/user"><i class="fas fa-arrow-right"></i>Edit profile</a>
            <a href="/wishlist"><i class="fas fa-arrow-right"></i>Wishlist</a>
            <a href="/user/my-books"><i class="fas fa-arrow-right"></i>My Books</a>
        </div>

        <div class="box">
            <h3>contact Info</h3>
            <a href=""><i class="fas fa-phone"></i>+93 744 260 004</a>
            <a href=""><i class="fas fa-phone"></i>+93 744 260 004</a>
            <a href=""><i class="fas fa-envelope"></i>iqbal.elham7@gmail.com</a>
            <img src="{% static 'images/worldmap.png' %}" class='map' alt="">
        </div>
    </div>

    <div class="share">
        <a href="https://www.facebook.com/iqbal.elh/" class="fab fa-facebook-f"></a>
        <a href="https://twitter.com/IqbalElham7/" class="fab fa-twitter"></a>
        <a href="https://www.instagram.com/iqbal_elham/" class="fab fa-instagram"></a>
        <a href="https://www.linkedin.com/in/iqbal-elham-8830aa19a/" class="fab fa-linkedin"></a>
        <a href="https://github.com/Iqbal-Elham" class="fab fa-github"></a>
    </div>

    <div class="container text-center credit">
        <p class="h4">Created By <span class="text-warning">Mohammad Iqbal Elham</span> All rights Reserved</p>
    </div>
</section>
</section>