<div class="swiper-slide box">
    <div class="icons">
      <a href="" class="fas fa-search"></a>
      <a href="" class="fas fa-heart"></a>
      <a href="{{ books.get_absolute_url }}" class="fas fa-eye"></a>
    </div>
    <div class="image">
      <img src="{{ books.image.url }}" alt="" />
    </div>
    <div class="content">
      <h3>{{ books.title }}</h3>
      <div class="price">{{ books.price }}</div>
      <a href="{{ books.get_absolute_url }}" class="btn btn-warning">contact to seller</a>
    </div>
  </div>