{% extends 'shared/_mainLayout.html' %} {% load static %} {% block content %}
<head>
  <title>Second Handed Online Bookstore</title>
</head>

<!-- ------------------pics slider -------------------------------- -->

<div class="slide-wrapper owl-carousel owl-theme" id="hero-slider">
  <div class="slide2 min-vh-100 bg-cover d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="text-uppercase text-white display-5" id="slide-font">
            work smart
          </h1>
          <h1 class="text-uppercase my-3 text-white display-1" id="slide-font">
            study hard
          </h1>
          <a href="#" class="btn btn-brand">Get Started</a>
          <a href="#" class="btn btn-outline-light ms-md-3">Our Works</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slide1 min-vh-100 bg-cover d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-uppercase text-white display-5" id="slide-font">
            work smart
          </h1>
          <h1 class="text-uppercase my-3 text-white display-1" id="slide-font">
            study hard
          </h1>
          <a href="#" class="btn btn-brand">Get Started</a>
          <a href="#" class="btn btn-outline-light ms-md-3">Our Works</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slide3 min-vh-100 bg-cover d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-uppercase text-white display-5" id="slide-font">
            work smart
          </h1>
          <h1 class="text-uppercase my-3 text-white display-1" id="slide-font">
            study hard
          </h1>
          <a href="#" class="btn btn-brand">Get Started</a>
          <a href="#" class="btn btn-outline-light ms-md-3">Our Works</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -----------------------featured books slider --------------------------------- -->
<section class="featured" id="featured">
  <h1 class="heading"><span>Featured Books</span></h1>
  <div class="swiper container featured-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide box">
        <div class="icons">
          <a href="" class="fas fa-search"></a>
          <a href="" class="fas fa-heart"></a>
          <a href="" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <img src="image/book-1.png" alt="" />
        </div>
        <div class="content">
          <h3>Featured Books</h3>
          <div class="price">200Af <span>150Af</span></div>
          <a href="" class="btn btn-warning">contact to seller</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <div class="icons">
          <a href="" class="fas fa-search"></a>
          <a href="" class="fas fa-heart"></a>
          <a href="" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <img src="image/book-2.png" alt="" />
        </div>
        <div class="content">
          <h3>featured books</h3>
          <div class="price">200Af <span>150Af</span></div>
          <a href="" class="btn btn-warning">contact to seller</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <div class="icons">
          <a href="" class="fas fa-search"></a>
          <a href="" class="fas fa-heart"></a>
          <a href="" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <img src="image/book-3.png" alt="" />
        </div>
        <div class="content">
          <h3>featured books</h3>
          <div class="price">200Af <span>150Af</span></div>
          <a href="" class="btn btn-warning">contact to seller</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <div class="icons">
          <a href="" class="fas fa-search"></a>
          <a href="" class="fas fa-heart"></a>
          <a href="" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <img src="image/book-4.png" alt="" />
        </div>
        <div class="content">
          <h3>featured books</h3>
          <div class="price">200Af <span>150Af</span></div>
          <a href="" class="btn btn-warning">contact to seller</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <div class="icons">
          <a href="" class="fas fa-search"></a>
          <a href="" class="fas fa-heart"></a>
          <a href="" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <img src="image/book-5.png" alt="" />
        </div>
        <div class="content">
          <h3>featured books</h3>
          <div class="price">200Af <span>150Af</span></div>
          <a href="" class="btn btn-warning">contact to seller</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <div class="icons">
          <a href="" class="fas fa-search"></a>
          <a href="" class="fas fa-heart"></a>
          <a href="" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <img src="image/book-6.png" alt="" />
        </div>
        <div class="content">
          <h3>featured books</h3>
          <div class="price">200Af <span>150Af</span></div>
          <a href="" class="btn btn-warning">contact to seller</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <div class="icons">
          <a href="" class="fas fa-search"></a>
          <a href="" class="fas fa-heart"></a>
          <a href="" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <img src="image/book-7.png" alt="" />
        </div>
        <div class="content">
          <h3>featured books</h3>
          <div class="price">200Af <span>150Af</span></div>
          <a href="" class="btn btn-warning">contact to seller</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <div class="icons">
          <a href="" class="fas fa-search"></a>
          <a href="" class="fas fa-heart"></a>
          <a href="" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <img src="image/book-8.png" alt="" />
        </div>
        <div class="content">
          <h3>featured books</h3>
          <div class="price">200Af <span>150Af</span></div>
          <a href="" class="btn btn-warning">contact to seller</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <div class="icons">
          <a href="" class="fas fa-search"></a>
          <a href="" class="fas fa-heart"></a>
          <a href="" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <img src="image/book-9.png" alt="" />
        </div>
        <div class="content">
          <h3>featured books</h3>
          <div class="price">200Af <span>150Af</span></div>
          <a href="" class="btn btn-warning">contact to seller</a>
        </div>
      </div>

      <div class="swiper-slide box">
        <div class="icons">
          <a href="" class="fas fa-search"></a>
          <a href="" class="fas fa-heart"></a>
          <a href="" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <img src="image/book-10.png" alt="" />
        </div>
        <div class="content">
          <h3>featured books</h3>
          <div class="price">200Af <span>150Af</span></div>
          <a href="" class="btn btn-warning">contact to seller</a>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>

<!-- -----------------------------arrivals slider ----------------------------- -->

<section class="arrivals" id="arrivals">
  <h1 class="heading"><span>New Books</span></h1>
  <div class="swiper container arrivals-slider">
    <div class="swiper-wrapper">
      <a href="#" class="swiper-slide box">
        <div class="image">
          <img src="image/book-1.png" alt="" />
        </div>
        <div class="content">
          <h3>new books</h3>
          <div class="price">120Af <span>200Af</span></div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </a>

      <a href="#" class="swiper-slide box">
        <div class="image">
          <img src="image/book-2.png" alt="" />
        </div>
        <div class="content">
          <h3>new books</h3>
          <div class="price">120Af <span>200Af</span></div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </a>

      <a href="#" class="swiper-slide box">
        <div class="image">
          <img src="image/book-3.png" alt="" />
        </div>
        <div class="content">
          <h3>new books</h3>
          <div class="price">120Af <span>200Af</span></div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </a>

      <a href="#" class="swiper-slide box">
        <div class="image">
          <img src="image/book-4.png" alt="" />
        </div>
        <div class="content">
          <h3>new books</h3>
          <div class="price">120Af <span>200Af</span></div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </a>

      <a href="#" class="swiper-slide box">
        <div class="image">
          <img src="image/book-5.png" alt="" />
        </div>
        <div class="content">
          <h3>new books</h3>
          <div class="price">120Af <span>200Af</span></div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="swiper arrivals-slider container">
    <div class="swiper-wrapper">
      <a href="#" class="swiper-slide box">
        <div class="image">
          <img src="image/book-6.png" alt="" />
        </div>
        <div class="content">
          <h3>new books</h3>
          <div class="price">120Af <span>200Af</span></div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </a>

      <a href="#" class="swiper-slide box">
        <div class="image">
          <img src="image/book-7.png" alt="" />
        </div>
        <div class="content">
          <h3>new books</h3>
          <div class="price">120Af <span>200Af</span></div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </a>

      <a href="#" class="swiper-slide box">
        <div class="image">
          <img src="image/book-8.png" alt="" />
        </div>
        <div class="content">
          <h3>new books</h3>
          <div class="price">120Af <span>200Af</span></div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </a>

      <a href="#" class="swiper-slide box">
        <div class="image">
          <img src="image/book-9.png" alt="" />
        </div>
        <div class="content">
          <h3>new books</h3>
          <div class="price">120Af <span>200Af</span></div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </a>

      <a href="#" class="swiper-slide box">
        <div class="image">
          <img src="image/book-10.png" alt="" />
        </div>
        <div class="content">
          <h3>new books</h3>
          <div class="price">120Af <span>200Af</span></div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

{% endblock %}
