</div>
{% extends './account/_main_login_wave.html' %} {% block content %}
    <div class="inner-header">

        <div class="login-form-container">
            <a href="/login"><i id="close-login-btn" class="fa-solid fa-circle-xmark"></i></a>
            <form method="post">
                <h2 class="text-center mb-3">Forgotten your password? </h2>
                <h4 class="text-center mb-4">Enter your email address below, and we’ll email instructions for setting a new one.</h4>
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                {{ field.label }}
                {{ field }}
                </div>
                {% endfor %}
                <input type="submit" value="Reset" class="sub-btn" />
            </form>

        </div>
    </div>
{% endblock %}