{% extends './account/_main_login_wave.html' %} {% block content %}
    <div class="inner-header">

        <div class="login-form-container">
            <a href="/login"><i id="close-login-btn" class="fa-solid fa-circle-xmark"></i></a>
            <form method="post" enctype="multipart/form-data">
                <h3>Input your new password</h3>
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                  {{ field.label }}
                  {{ field }}
                </div>
                {% if field.errors %}
                  <div class="alert alert-danger">
                    {{ filed.error }}
                  </div>
                {% endif %}
                {% endfor %}
                <input type="submit" value="Reset" class="sub-btn" />
            </form>

        </div>
    </div>
{% endblock %}