{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image" href="{% static 'images/logo3.png' %}" />
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/css/user_style.css' %}">
  <link rel="stylesheet" href="{% static 'styles/fonts-6/css/all.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/css/fonts.css' %}" />
  <title>User Account</title>
</head>

<body>
  <div class="row ">
    <nav class="d-flex justify-content-around align-items-center px-5 py-2 gap-4 nav-bar bg-dark">
      <h1 class="h1 nav-brand">User Account</h1>
      <div class="menu d-flex">
        <a href="/" class="d-flex align-items-center justify-content-center text-white"><lord-icon
            src="https://cdn.lordicon.com/kxoxiwrf.json" trigger="loop-on-hover" delay="40"
            colors="primary:#545454,secondary:#c79816" style="width:50px;height:50px">
          </lord-icon><label for="logout">Home</label></a>
        <a href="/books" class="d-flex align-items-center justify-content-center text-white"><lord-icon
            src="https://cdn.lordicon.com/hursldrn.json" trigger="morph" delay="40"
            colors="primary:#e8b730,secondary:#545454" style="width:50px;height:50px">
          </lord-icon><label for="logout">Books</label></a>
        <a href="/logout" class="d-flex align-items-center justify-content-center text-white"><lord-icon
          src="https://cdn.lordicon.com/hcuxerst.json"
          trigger="morph"
          colors="primary:##e8b730,secondary:#e8b730"
          style="width:50px;height:50px">
      </lord-icon><label for="logout">log out</label></a>
      </div>
    </nav>
  </div>

  <!-- -------------------- Sidebar -------------------------------- -->
  <div class="user_sidebar col-md-2 d-flex flex-column">
    <img src="{{ user.user_profile.profile_pic.url }}" class="rounded-circle mb-4" width=150 height=150 alt="">
    <p class="text-primary mb-5 text-center h3 text-uppercase">{{ user.username }}</p>
    <a href="/user#profile" type="button" class="text-dark ">Profile</a>
    <a href="/user/my-books" type="button" class="text-dark ">Your Books</a>
    <a href="/password_change" type="button" class="text-dark ">Change Password</a>
    <a href="/user#comments" type="button" class="text-dark ">Comments</a>
  </div>

  <div class="col-md-10 content">
    <!-- ---------------------------------- Profile ----------------------------------- -->
    <div id="profile">
      <div style="height: 80vh;" class="d-flex flex-column justify-content-center">
        <header class="d-flex flex-row justify-content-center gap-1 align-items-center mb-5">
          <lord-icon src="https://cdn.lordicon.com/ajkxzzfb.json" trigger="loop" delay="500"
          colors="primary:#ffc738,secondary:#848484" style="width:80px;height:80px">
        </lord-icon>
        <h1 class="display-3">Profile</h1>
        </header>
        <form class="row" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="col-md-6" id="leftCtn">
            <div class="mb-4 d-flex justify-content-center flex-column align-items-center" id="upload-img-div">
              <img src=" {{ user.user_profile.profile_pic.url }} " width="180" height="180" class="mx-auto d-block "
                id="uploadImage" alt="..." />
              {{ editForm.profile_pic }}
              <!-- <input type="file" id="file"> -->
              <label for="file" id="uploadBtn">Choose Photo</label>
            </div>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-9">
                <div class="row mb-3">
                  <label for="" class="col-sm-4 col-form-label text-dark">Name</label>
                  <div class="col-sm-8">
                    {{ editForm.user_name }}
                    {% for error in editForm.user_name.errors %}
                    <p style="color: rgb(209, 13, 13);margin-top: 5px;">{{error}}</p>
                    {% endfor %}
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="" class="col-sm-4 col-form-label text-dark">Email</label>
                  <div class="col-sm-8">
                    {{ editForm.email }}
                    {% for error in editForm.email.errors %}
                    <p style="color: rgb(75, 5, 5); margin-top: 5px;">{{error}}</p>
                    {% endfor %}
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="" class="col-sm-4 col-form-label">Date of Birth</label>
                  <div class="col-sm-8 dob">
                    {{ editForm.date_of_birth }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6" id="rightCtn">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <div class="row mb-3">
                  <label for="" class="col-sm-3 col-form-label">City</label>
                  <div class="col-sm-9">
                    {{ editForm.city }}
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="" class="col-sm-3 col-form-label">Address</label>
                  <div class="col-sm-9">
                    {{ editForm.address }}
                  </div>
                </div>
                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-3 pt-0">Gender</legend>
                  <div class="col-sm-9 gender-radios">
                    {{ editForm.gender }}
                  </div>
                </fieldset>
                <div class="row mb-3">
                  <label for="" class="col-sm-3 col-form-label"><small> Phone Number</small></label>
                  <div class="col-sm-9">
                    {{ editForm.phone_num }}
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="" class="col-sm-3 col-form-label"><small> Whatsapp Number</small></label>
                  <div class="col-sm-9">
                    {{ editForm.whatsapp_num }}
                  </div>
                </div>
              </div>
              <div class="row d-grid gap-2 col-6 mx-auto">
              </div>
            </div>
          </div>
          <button class="btn btn-warning text-white w-50 mx-auto mt-5" type="submit">
            Save Changes
          </button>
        </form>
      </div>
    </div>
  </div>

  <script src=" {% static 'styles/js/user_script.js' %} "></script>
  <script src=" {% static 'styles/js/jquery-3.6.0.js' %} "></script>
  <script src=" {% static 'bootstrap/js/bootstrap.min.js' %} "></script>
  <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
</body>

</html>